#blurbox-wrapper {
  overflow: auto;
  position: absolute;
  opacity: 0;
  top: 52%;
  left: 50%;
  height: 330px !important;
  width: 100% !important;
  z-index: 9999;
  display: block;
  @media screen and (max-width: $max-width-lg) {
    height: 100% !important;
    margin: 0 !important;
    top: 0;
    left: 0;
  }
}
